.tag {
  height: 1.5rem;
}

.edit {
  width: calc(100% - 30px);

  & input {
  padding: .5rem;
  }
}

.edited {
  width: calc(100% - 30px);
}

.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .3rem;
}
